body
    font-family: 'Roboto', sans-serif
    background-color: black
    color: white
hr
    height: 1px
    color: white
    background-color: white
    border: white
section
    margin-top: 5%
    margin-bottom: 5%
